
{% extends "base-dash.html" %}

{% block conteudo %}
<div class="content">
	<div class="container">
		{% if photos.all %}
		<div class="mt-4 mb-2 pb-3 border-bottom">
			<div align="center">
				<a href="{% url 'add_photo'  %}" class="btn font-weight-bold btn-success">ADICIONAR</a>
			</div>
		</div>
		{% endif %}
		{% for photo in photos %}
		<div class="row border-bottom pt-3">
			<div class="col-8">
				<div>
					<div class="d-flex justify-content-center">
						<img width="200" src="{{photo.image.url}}">
						
					</div>

				</div>
			</div>
			<div class="col-4">
				<div class="text-center">
					<a href="{% url 'edit_photo' photo.pk %}" class="btn w-50  btn-primary">EDITAR</a>
				</div>
				<div class="text-center">
					<a href="{% url 'delete_photo' photo.pk %}" class="btn w-50 mt-2 btn-danger">APAGAR</a>
				</div>
			</div>
		</div>
		{% empty %}
		<div align="center">
			<a href="{% url 'add_photo' %}" class="btn btn-success">ADICIONAR</a>
		</div>
		{% endfor %}
		{% if photos.all %}
			<div class="mt-4 mb-4 pt-3 border-top">
				<div align="center">
					<a href="{% url 'add_photo' %}" class="btn font-weight-bold btn-success">ADICIONAR</a>
				</div>
			</div>
		{% endif %}
	</div>
</div>	
{% endblock %}
