/* Header */
nav.navbar .nav-link, .navbar-brand{
  padding: 0 30px !important;
  margin: 0 5px;
  color: #000 !important;
  font-family: 'Caveat Brush', cursive;
  font-size: 1.3em;
}

/* Editando cover */
div#cover div.wallpaper{
  background: url('../img/header-mulher.png') no-repeat center;
  background-size: cover;
  height: 350px;
  display: flex;
  align-items: flex-end;
  padding: 0;
}

div#cover .wallpaper__svg{
  position: relative;
  top: 2px;
  background: transparent;
  width: 100%;
}

div#cover .wallpaper__svg--path{
  fill: #FFF;
}

div#cover .logotipo{
  display: flex;
  flex-direction: column;
  align-items: center;
}

div#cover .logotipo--brand{
  color: #154360;
  font-weight: bold;
  font-size: 4.6em;
  margin: 0;
}

div#cover .logotipo--subtitle{
  color: #797D7F;
  font-size: 1.3em;
  font-family: 'Caveat Brush', cursive;
}

div#cover .info{
  padding: 20px 0;
}

div#cover .info .info__titles--subtitle{
  color: #797D7F;
  font-size: 1.8em;
  text-align: center;
  font-family: 'Caveat Brush', cursive;
}


div#cover .info .info__buttons{
  display: flex;
  justify-content: center;
}

div#cover .info .info__buttons--btn button{
  border-radius: 10px;
  color: #000;
  font-weight: normal;
  font-family: 'Caveat Brush', cursive;
  font-size: 1.3em;
  width: 120px;
}

div#cover .info .info__buttons--btn i{
  position: relative;
  top: 30px;
  right: 16px;
  transform: rotate(35deg);
  font-size: 2em;
}

div#cover .info .info__buttons--btn .btn-reduza{
  background-color: #D328AC;
}

div#cover .info .info__buttons--recicle {
  margin-left: 25px;
  margin-top: 40px;
}

div#cover .info .info__buttons--btn .btn-recicle{
  background-color: #AC65CD;
}

div#cover .info .info__buttons--repense{
  position: relative;
  left: -10px;
  margin-top: 60px;
}

div#cover .info .info__buttons--btn .btn-repense{
  background-color: #2980B9;
}

div#cover .info .info__buttons--reutilize{
  position: relative;
  left: -50px;
}

div#cover .info .info__buttons--btn .btn-reutilize{
  background-color: #52BE80;
}

div#cover .info .info__buttons--recuse{
  position: relative;
  margin-top: 40px;
}

div#cover .info .info__buttons--btn .btn-recuse{
  
  background: #D4AC0D;

}

/* SOBRE */

div#sobre{
  height: 100%;
  background: url('../img/cover-2.jpeg');
  background-position: right;
  background-repeat: no-repeat;
  background-size: 50% 100%;
}

div#sobre .sobre__coverMobile{
  display: none;
}

div#sobre .sobre__svg{
  transform: rotate(180deg);
  background: linear-gradient(90deg, #FFF 64%, rgba(44,182,213,0) 83%, rgba(255,255,255,1) 100%);
  background-position: -55em;
  background-size: cover;
}

div#sobre .sobre__svg--path{
  fill: #FFF;
}

div#sobre div.bg-sobre{
  padding: 30px 0;
  height: 100%;
  background: linear-gradient(90deg, rgba(255,255,255,1) 64%, rgba(44,182,213,0) 83%, rgba(255,255,255,1) 100%);
}

div#sobre div.info-sobre h2{
  font-size: 7em;
  font-weight: bold;
  padding: 0 30px;
  font-family: 'Caveat Brush', cursive;
}

div#sobre div.info-sobre p{
  font-size: 1.3em;
  text-align: justify;
  padding: 0 600px 0 30px;
}

/* EVENTOS */
div#eventos{
  background-image: url('../img/black.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

div#eventos .eventos__bg{
  background: rgba(0, 0, 0, 0.5);
  padding: 30px 30px 80px 30px;
}

.title-container{
  font-size: 5em;
  font-family: 'Titan One', cursive;
  font-weight: 100;
  color: #FFF;
  margin: 33px 0;
}

div#eventos .info-events{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
  margin-top: 30px;
  width: 100%;
  height: 200px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  transition: .3s ease-in-out;
}

div#eventos .info-events:hover{
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.7);
}

div#eventos .info-events a{
  width: 100%;
  height: 100%;
}

div#eventos .info-events a:hover{
  text-decoration: none;
}

div#eventos .symbol-events{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 !important;
  width: 350px;
  height: 82.22px;
  background-color: #FFF;
  border-radius: 100%;
  color: #000;
  font-size: 3em;
}

div#eventos .text-events{
  text-align: center;
  color: #000;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 1);
  transition: .3s ease-in-out;
  height: 100%;
}

div#eventos .text-events h4{
  padding: 10px 0;
  text-transform: uppercase;
  font-size: 2em;
  background-color: #d7dbdd;
  font-family: 'Caveat Brush', cursive;
  border-radius: 5px 5px 0 0;
}

div#eventos .text-events .info-events__texts{
  padding: 5px 15px 15px 15px;
}


div#eventos .text-events .info-events__texts--details{
  text-align: justify;
  text-indent: 30px;
  margin: 0;
  white-space: normal;
  max-height: 13ch;
  overflow: hidden;
}


/* photos gallery */

div#gallery{
  margin-bottom: 200px;
}

div.gallery-info h5{
  text-align: center;
  font-size: 0.9em;
  font-weight: bold;
  letter-spacing: 1.2px;
  color: #b3b3b3;
}

div.gallery-info h2{
  text-align: center;
  color: #1C2833;
  margin-bottom: 50px;
}

div#gallery .container-img-gallery{
  display: flex;
  align-items: center;
  height: 100%;

}


div#gallery .container-img-gallery img{
  height: 300px;
  object-fit: cover;
}

/* contato */

div#contact{
  padding: 25px 0px;
}

.bg-contact{
  position: relative;
  top: 0px;
  position: relative;
  background: #FFF;
  z-index: 31;
}

div.contact-info h5{
  text-align: center;
  font-size: 0.9em;
  font-weight: bold;
  text-transform: uppercase;
  color: #b3b3b3;
}

div.contact-info h2{
  text-align: center;
}

div#contact form{
  margin-top: 25px;
  padding: 0 30px;
}

div#contact form input{
  text-align: center;
  border-radius: 0;
  background: #EBEDEF;
  border-color: #EBEDEF;

}
div#contact form textarea{
  border-radius: 0;
  background: #EBEDEF;
  border-color: #EBEDEF;
}

div#contact .container-btn-cto {
  justify-content: start;
}

div#contact .btn-cto{
  border-radius: 300px;
  width: 17%;
  padding: 13px 0;
}

/* Rodape */

div#rodape{
  background-image: url('../img/header-mulher.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 20  0px;
}


div#rodape .rodape__svg{
  position: relative;
  top: -1px;
  transform: rotate(180deg);
}

div#rodape .rodape__svg--path{
  fill: #FFF;
}

/* Event container */
div#container-event{
  margin: 140px 0;
}

div#container-event h3{
  font-size: 2.6em;
  font-weight: bold;
  padding: 0 150px;
}

div#container-event .sub-title{
  color: #aaa;
}

div#container-event p{
  text-indent: 30px;
  margin-top: 15px;
}

div#container-event img{
  width: 400px;
}