/* Geral */
div#article{
	min-height: 80vh;
}

/* Editando opções */

a{
	color: #000;
}

a:hover{
	text-decoration: none;
	color: #000;
}

div.option-edit{
	background: url(../img/header.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	text-align: center;
	margin-top: 15px;
	border-radius: 10px;
	box-shadow: 0 0 20px #DADADA;
	color: #FFF;
}

div.option-edit .bg-option{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	border-radius: 10px;
	padding: 80px 25px;
	background: rgba(39, 55, 70, 1);
	transition: 0.2s;
}

div.option-edit .bg-option:hover{
	background: rgba(39, 55, 70, 1);
}

div.option-edit .bg-option h2{
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.4em;
}

div.option-edit .bg-option p{
	font-size: 1.1em;
}

/* Rodape */

div#footer{
	margin-top: 20px;
	padding: 30px;
	text-align: center;
}

/* Editando o listar produto */
div.list{
	margin-top: 20px;
}
div.list .info-btn-tec{
	margin-top: 20px;
	display: flex;
	justify-content: center;
	width: 100%;
	border-top: 2px solid #28B463;
	border-radius: 10px;
}


div.list .info-btn-tec .add-btn{
	position: relative;
	top: -25px;
	background: #28B463;
	padding: 12px 20px;
	border-radius: .5rem;
	color: #FFF;
	font-weight: bold;
	text-transform: uppercase;
	transition: .2s ease-in-out;
}

div.list .info-btn-tec-bottom{
	margin-top: 20px;
	display: flex;
	justify-content: center;
	width: 100%;
	border-bottom: 2px solid #28B463;
	border-radius: 10px;
	margin-bottom: 20px;
}


div.list .info-btn-tec-bottom .add-btn{
	position: relative;
	top: 25px;
	background: #28B463;
	padding: 12px 20px;
	border-radius: .5rem;
	color: #FFF;
	font-weight: bold;
	text-transform: uppercase;
	transition: .2s ease-in-out;
}

div.list .add-btn:hover{
	background: #186A3B;
}

div.list div.list_products{
	min-height: 58vh;
}

div.list div.list_products{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

div.list div.list_products .title-product{
	font-weight: bold;
	text-transform: uppercase;
	border-top: 1px dashed #000;
	width: 100%;
	text-align: center;
	padding: 5px 0;
	border-radius: .5rem;
}

div.list div.list_products .img-product img{
	width: 100%;
}

div.list div.list_products .btn-product-container{
	border-bottom: 1px dashed #000;
	border-radius: .5rem;
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 20px 0;
}
