<!DOCTYPE html>
<html lang="pt-br">
{% load static %}

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>ConectAR-TE</title>
  <script src="https://kit.fontawesome.com/e177f68271.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  <link rel="stylesheet" href="{% static 'css/style-mobile.css' %}" />
  <style>
    /* Fonte MENU */
    @import url('https://fonts.googleapis.com/css2?family=Spicy+Rice&display=swap');
    /* Fonte Header */
    @import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');
    /* Fonte Cover */
    @import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');
  </style>
</head>

<body>
  <!-- MENU -->
  <!-- FIM DO MENU -->
  <!-- Cover -->
  <div id="cover">

    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-6">
          <div class="logotipo logotipo__event">
            <h1 class="logotipo--brand">
              <span class="text-info">Espaço</span>
              <br />
              Conect<span class="text-danger">A</span><span class="text-info">R</span>-<span
                class="text-warning">T</span>E
            </h1>
            <p class="logotipo--subtitle">
              Conectando-se com a Vida através da Arte e do uso dos
              5R'S
            </p>
          </div>
        </div>
        <div class="col-12 col-lg-6">
          <div class="event__menuButtons">
            <div class="event__menuButtons--btn">
              <a class="btn event__menuButtons--oficinas">Oficinas</a>
            </div>
            <div class="event__menuButtons--btn">
              <a class="btn event__menuButtons--galeria">Galeria</a>
            </div>
            <div class="event__menuButtons--btn">
              <a class="btn event__menuButtons--vendas">Vendas</a>
            </div>
            <div class="event__menuButtons--btn">
              <a class="btn event__menuButtons--contatos">Contatos</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="wallpaperEvent">
      <div class="wallpaperEvent__svg">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none">
          <path class="wallpaperEvent__svg--path" d="M790.5,93.1c-59.3-5.3-116.8-18-192.6-50c-29.6-12.7-76.9-31-100.5-35.9c-23.6-4.9-52.6-7.8-75.5-5.3
            c-10.2,1.1-22.6,1.4-50.1,7.4c-27.2,6.3-58.2,16.6-79.4,24.7c-41.3,15.9-94.9,21.9-134,22.6C72,58.2,0,25.8,0,25.8V100h1000V65.3
            c0,0-51.5,19.4-106.2,25.7C839.5,97,814.1,95.2,790.5,93.1z"></path>
        </svg>
      </div>
      <div class="wallpaperEvent__svg--end">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none">
          <path class="wallpaperEvent__svg--end--path" d="M790.5,93.1c-59.3-5.3-116.8-18-192.6-50c-29.6-12.7-76.9-31-100.5-35.9c-23.6-4.9-52.6-7.8-75.5-5.3
            c-10.2,1.1-22.6,1.4-50.1,7.4c-27.2,6.3-58.2,16.6-79.4,24.7c-41.3,15.9-94.9,21.9-134,22.6C72,58.2,0,25.8,0,25.8V100h1000V65.3
            c0,0-51.5,19.4-106.2,25.7C839.5,97,814.1,95.2,790.5,93.1z"></path>
        </svg>
      </div>
    </div>
  </div>
  <!-- Fim do Cover -->

  <div id="container-event">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="event__container">
            <div>
              <h3 class="text-center text-info">{{event.name}}</h3>
            </div>

            <div class="row">
              <div class="col-sm-12 col-md-10 col-lg-10 col-xl-10">
                <p class="sub-title">
                  <h5>Localidade:</h5> {{event.city}}, {{event.district}}, {{event.street}}
                  <h5>Data e Horário:</h5> {{event.day}} às {{event.hour}}
                </p>
              </div>
              <div class="col-sm-12 col-md-2 col-lg-2 col-xl-2">
                <a href="{% url 'add_client' event.pk %}" class="btn btn-success">Inscreva-se</a>
              </div>

            </div>

            <div class="d-flex justify-content-center">
              <img class="img-thumbnail" src="{{ event.main_image.url }}" alt="" />
            </div>
            <div>
              <p>
                {{event.details}}
              </p>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="contact">
    <div class="contactSvg">
      <svg class="contactSvg__svg" preserveAspectRatio="none" viewBox="0 0 100 102" height="75" width="100%" version="1.1" xmlns="http://www.w3.org/2000/svg" class="svgcolor-light">
        <path class="contactSvg__svg--path" d="M0 0 L50 100 L100 0 Z"></path>
      </svg>
    </div>
    <div class="container bg-contact">
      <div class="row">
        <div class="col-12">
          <div class="contact-info">
            <h5>Envia aquela mensagem! :)</h5>
            <h2>Contato</h2>
          </div>
        </div>
      </div>
      <div class="row">

        <div class="col-12">
          <form method="post" action="{% url 'comments' %}">
            {% csrf_token %}
            <div class="row">
              <div class="col">
                <input type="text" class="form-control" name="title" placeholder="Seu título">
              </div>
            </div>
            <div class="row">
              <div class="col mt-3">
                <input type="text" class="form-control" name="email" placeholder="E-mail">
              </div>
              <div class="col mt-3">
                <input type="text" class="form-control" name="whatsapp" placeholder="WhatsApp">
              </div>
            </div>
            <div class="row">
              <div class="col mt-3">
                <textarea class="form-control" name="details" placeholder="Messagem" rows="6"></textarea>
              </div>
            </div>
            <div class="container-btn-cto d-flex justify-content-center mt-3">
              <button class="btn btn-primary" type="submit">Enviar <i class="fas fa-paper-plane"></i></button>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
  <!-- INICIO RODAPE -->
  <div id="rodape">
    <div class="rodape__svg">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none">
        <path class="rodape__svg--path" d="M790.5,93.1c-59.3-5.3-116.8-18-192.6-50c-29.6-12.7-76.9-31-100.5-35.9c-23.6-4.9-52.6-7.8-75.5-5.3
          c-10.2,1.1-22.6,1.4-50.1,7.4c-27.2,6.3-58.2,16.6-79.4,24.7c-41.3,15.9-94.9,21.9-134,22.6C72,58.2,0,25.8,0,25.8V100h1000V65.3
          c0,0-51.5,19.4-106.2,25.7C839.5,97,814.1,95.2,790.5,93.1z"></path>
      </svg>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
  <script>
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })
  </script>
</body>

</html>