{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>ConectArt</title>
  <script src="https://kit.fontawesome.com/e177f68271.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
</head>

<body>

  <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="#">ConectArt</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#header">Inicio<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#article">O que fazemos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#sobre-nos">Sobre nós</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#clients">Clientes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contact">Contato</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div id="header">
    <div class="container-fluid">
      <div class="row line-none-pading">
        <div class="col-6">
          <div id="carouselTec" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="carousel-img-1" style="background-image: url({% static 'img/school.jpg' %})"
                  alt="Primeiro slide">
                </div>
              </div>
              <div class="carousel-item">
                <div class="carousel-img-2" style="background-image: url({% static 'img/boy.png' %})"
                  alt="Primeiro slide">
                </div>
              </div>
              <div class="carousel-item">
                <div class="carousel-img-3" style="background-image: url({% static 'img/office.jpg' %})"
                  alt="Primeiro slide">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="text-header">
            <h3>ConectART</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, incidunt.</p>
            <div class="container-btn-cto">
              <a class="btn-cto" href="#contact">Envie um e-mail</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="article">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="learn-info">
            <h5>O que você vai aprender</h5>
            <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit</h2>
          </div>
        </div>
      </div>
      <div class="container-card">
        <div class="row">
          <div class="col-4">
            <a class="card-learn-link" href="#">
              <div class="card-learn">
                <h5>Pintar</h5>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse est harum dicta suscipit pariatur
                  autem totam corrupti, numquam.</p>
              </div>
            </a>
          </div>
          <div class="col-4">
            <a class="card-learn-link" href="#">
              <div class="card-learn">
                <h5>Pintar</h5>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse est harum dicta suscipit pariatur
                  autem totam corrupti, numquam.</p>
              </div>
            </a>
          </div>
          <div class="col-4">
            <a class="card-learn-link" href="#">
              <div class="card-learn">
                <h5>Pintar</h5>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse est harum dicta suscipit pariatur
                  autem totam corrupti, numquam.</p>
              </div>
            </a>
          </div>
          <div class="col-4">
            <a class="card-learn-link" href="#">
              <div class="card-learn">
                <h5>Pintar</h5>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse est harum dicta suscipit pariatur
                  autem totam corrupti, numquam.</p>
              </div>
            </a>
          </div>
          <div class="col-4">
            <a class="card-learn-link" href="#">
              <div class="card-learn">
                <h5>Pintar</h5>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse est harum dicta suscipit pariatur
                  autem totam corrupti, numquam.</p>
              </div>
            </a>
          </div>
          <div class="col-4">
            <a class="card-learn-link" href="#">
              <div class="card-learn">
                <h5>Pintar</h5>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse est harum dicta suscipit pariatur
                  autem totam corrupti, numquam.</p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="sobre-nos">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <div class="sobre-video">
            <video class="w-100 img-thumbnail" controls src="https://www.w3schools.com/html/mov_bbb.mp4"></video>
          </div>
        </div>
        <div class="col-6">
          <div class="about-info">
            <h5>Sobre nós</h5>
            <h2>Somos</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati, similique. Vero culpa et illum id
              quia dicta nemo enim, consequatur repellat, doloremque maxime nobis, accusamus ullam! Ipsam earum non
              iste.</p>

            <div class="list-ul-about">
              <ul>
                <li><i class="fas fa-check text-success"></i> Artista</li>
                <li><i class="fas fa-check text-success"></i> Formado</li>
                <li><i class="fas fa-check text-success"></i> Professor</li>
              </ul>
              <ul>
                <li><i class="fas fa-check text-success"></i> Lorem</li>
                <li><i class="fas fa-check text-success"></i> Lorem</li>
                <li><i class="fas fa-check text-success"></i> Lorem</li>
              </ul>
              <ul>
                <li><i class="fas fa-check text-success"></i> Artista</li>
                <li><i class="fas fa-check text-success"></i> Formado</li>
                <li><i class="fas fa-check text-success"></i> Professor</li>
              </ul>
            </div>
            <div class="container-btn-cto">
              <a class="btn-cto" href="#contact">Envie um e-mail</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="clients">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="client-info">
            <h5>Depoimentos</h5>
            <h2>O que estão falando de nós?</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="client-comment">
                  <div class="mb-2">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                  </div>
                  <h3>Jeffesson</h3>
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis sit dolor recusandae minus veniam est quasi architecto repudiandae vel dolore voluptas placeat.

                  </p>
                </div>
              </div>
              <div class="carousel-item">
                <div class="client-comment">
                  <div class="mb-2">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                  </div>
                  <h3>Jeffesson</h3>
                  <p>Gosto muito da forma como sou tratado na sala de aula.</p>
                </div>
              </div>
              <div class="carousel-item">
                <div class="client-comment">
                  <div class="mb-2">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                  </div>
                  <h3>Jeffesson Gomes de Almeida</h3>
                  <p>Gosto muito da forma como sou tratado na sala de aula.</p>
                </div>
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
              <span class="" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
              <span class="" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>

        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="container-btn-cto">
            <a class="btn-cto text-center" href="#contact">Envie um e-mail</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="gallery">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="gallery-info">
            <h5>FOTOS</h5>
            <h2>Nossas fotos</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-4 mt-3">
          <img class="w-100 rounded" src="{% static 'img/office.jpg' %}" />
        </div>
        <div class="col-4 mt-3">
          <img class="w-100 rounded" src="{% static 'img/about.jpg' %}" />
        </div>
        <div class="col-4 mt-3">
          <img class="w-100 rounded" src="{% static 'img/office.jpg' %}" />
        </div>
        <div class="col-4 mt-3">
          <img class="w-100 rounded" src="{% static 'img/office.jpg' %}" />
        </div>
        <div class="col-4 mt-3">
          <img class="w-100 rounded" src="{% static 'img/office.jpg' %}" />
        </div>
        <div class="col-4 mt-3">
          <img class="w-100 rounded" src="{% static 'img/office.jpg' %}" />
        </div>
        <div class="col-4 mt-3">
          <img class="w-100 rounded" src="{% static 'img/office.jpg' %}" />
        </div>
        <div class="col-4 mt-3">
          <img class="w-100 rounded" src="{% static 'img/office.jpg' %}" />
        </div>
        <div class="col-4 mt-3">
          <img class="w-100 rounded" src="{% static 'img/office.jpg' %}" />
        </div>
      </div>
    </div>
  </div>

  <div id="contact">
    <div class="container bg-contact">
      <div class="row">
        <div class="col-12">
          <div class="contact-info">
            <h5>Envia aquela mensagem! :)</h5>
            <h2>Contato</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <form>
            <div class="row">
              <div class="col">
                <input type="text" class="form-control" placeholder="Seu nome">
              </div>
            </div>
            <div class="row">
              <div class="col mt-3">
                <input type="text" class="form-control" placeholder="E-mail">
              </div>
              <div class="col mt-3">
                <input type="text" class="form-control" placeholder="WhatsApp">
              </div>
            </div>
            <div class="row">
              <div class="col mt-3">
                <textarea class="form-control" id="message" placeholder="Messagem" rows="6"></textarea>
              </div>
            </div>
            <div class="container-btn-cto mt-3">
              <a class="btn-cto text-center" href="#contact">Enviar <i class="fas fa-paper-plane"></i></a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div id="rodape">

  </div>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
</body>

</html>